.container,
.container__include {
  display: flex;
  padding: 15px 20px;
  color: #000;
  background-color: #ece7e7;
  border: 1px solid #585454;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  background-color: #ece7e7;
  border: 1px solid #585454;
}

.container__include {
  background-color: #44ec4d;
  border: 1px solid #1ce926;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
}

.name,
.tagline,
.date {
  margin-bottom: 0;
}

.name {
  margin-right: auto;
  margin-left: 20px;
}

.tagline {
  margin-right: auto;
  margin-left: auto;
}

.date {
  margin-right: 20px;
  margin-left: auto;
}
